@model PagedList.IPagedList<CuaHangThoiTrang.Models.SANPHAM>
@using PagedList.Mvc
@using CuaHangThoiTrang.Models
@{
    ViewBag.Title = "SPTheoThuongHieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    THUONGHIEU th = ViewBag.Thuonghieu;
}
<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="~/Home/Index">Home</a>
                    <i>|</i>
                </li>
                <li>@th.tenTH</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<div class="container py-xl-4 py-lg-2">
    <h2 class="title">@th.tenTH</h2><!--tiêu đề-->
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 product-men">
                <a class="men-thumb-item" href="~/Home/ChitietSP?id=@item.maSP">
                    <img src="/Content/img/@item.hinh" width="400px" height="300px">
                </a><!--hình ảnh sản phẩm-->
                <h4>@item.tenSP</h4> <!--Tên sản phẩm-->
                <div>
                    <div class="shoes_price"><span style="color: #ff4e5b;">@item.gia</span> đ</div>
                </div>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.maSP, @strURL = Request.Url.ToString() }))
                    {
                        <input type="submit" name="submit" value="Add to cart" class="button" />
                    }
                </div>
            </div>
        }
    </div>
</div>
<div style="text-align: center;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("SPTheoThuongHieu", new { page = page }))
</div>