@model PagedList.IPagedList<CuaHangThoiTrang.Models.MAU>
@using PagedList.Mvc   
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Màu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã sản phẩm:
        </th>
        <th>
            Tên màu:
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenMau)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maMau }) |
                @Html.ActionLink("Details", "Details", new { id = item.maMau }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maMau })
            </td>
        </tr>
    }

</table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))