@model CuaHangThoiTrang.Models.NGUOIDUNG

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <strong>
                Mã Role:
            </strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.maRole, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.maRole, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>
                Họ tên:
            </strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hoten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>
                Giới tính:
            </strong>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.gioitinh)
                    @Html.ValidationMessageFor(model => model.gioitinh, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <strong>
                Email:
            </strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>
                Số điện thoại:
            </strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.sodienthoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sodienthoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>
                Địa chỉ:
            </strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>
                Ngày sinh:
            </strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ngaysinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ngaysinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong>
                Password:
            </strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
