@model CuaHangThoiTrang.Models.SANPHAM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.maSP)

    <div class="form-group">
        <strong>
            Mã thương hiệu:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.maTH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.maTH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Mã danh mục:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.maDM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.maDM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Tên sản phẩm:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tenSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tenSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Giá:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Hình:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.hinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Hình 1:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.hinh1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hinh1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Hình 2:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.hinh2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.hinh2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Số lượng:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.soLuong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.soLuong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <strong>
            Thông tin:
        </strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.thongTin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.thongTin, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
