@model IEnumerable<CuaHangThoiTrang.Models.GIOHANG>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="~/Home/Index">Home</a>
                    <i>|</i>
                </li>
                <li>Giỏ hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
<!-- checkout page -->
<div class="privacy py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            Đơn Hàng
        </h3>
        <!-- //tittle heading -->
        <div class="checkout-right">
            <div class="table-responsive">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="rem1">
                                <td class="invert-image">
                                    <a href="~/Home/ChitietSP?id=@item.imaSP">
                                        <img src="/Content/img/@item.shinh" alt=" " class="img-responsive">
                                    </a>
                                </td>
                                <td class="invert">@item.stenSP</td>
                                <td class="invert">@String.Format("{0:0,0}", item.dgia) VNĐ</td>
                                <td class="invert">@item.isoluong</td>
                                <td class="invert">@String.Format("{0:0,0}", item.dthanhtien) VNĐ</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="6" style="text-align:right">

                                @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
                            </td>
                            <td colspan="6" style="text-align:right;color:blue">
                                @using (Html.BeginForm("ThanhToanDonHang", "GioHang", new { @class = "" }))
                                {
                                    <input type="submit" value="Thanh Toán" class="btn-danger" />
                                }
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- //checkout page -->